/* Colors */
:root {
	--bg-color: #121212;
	--dark-color: #0077B6;
	--light-color: #C6D8FF;
	--accent-color: #1A936F;
	--layer-color: rgba(255, 255, 255, .1);
}

/* Overall */
html {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	background-color: var(--bg-color);
	color: white;
	display: flex;
	height: 100%;
}

/***********/
/* Sidebar */
/***********/
#sidebar {
	height: 100%;
	width: 300px;
	background-color: var(--layer-color);
}

#sidebar img {
	width: 100%;
}

#sidebar h2 {
	text-align: center;
}

#sidebar h3 {
	text-align: center;
	padding: 0 30px;
}

/* Navigation */
#nav {
	list-style-type: none;
	padding-left: 0;
	border: 1px solid var(--dark-color);
}

#nav > li {
	border: 1px solid var(--dark-color);
	background-color: var(--layer-color);
}

#nav a {
	display: block;
	color: inherit;
	text-decoration: inherit;
	color: white;
}

#nav i {
	text-align: center;
	width: 25px;
	font-size: 20px;
	padding: 10px;
	border-right: 1px solid var(--dark-color);
	margin-right: 10px;
	color: var(-light-color);
}

#nav a[href="#"] {
	color: var(--light-color);
	font-weight: bold;
}

#nav a[href="#"] i {
	color: var(--light-color);
}

/* Socials */
#links {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0 10px;
	border-top: 1px solid var(--bg-color);
	padding: 0px 30px;
	overflow: hidden;
}

#links > li {
	float: left;
}

#links i {
	font-size: 30px;
	padding: 10px;
	color: var(--light-color);
}

/* Body */
#body {
	flex-grow: 1;
	overflow-y: auto;
}

#body > h1 {
	text-align: center;
	font-size: .8in
}

/* Projects */
#projects-container {
	width: 80%;
	margin: 0 auto;
}

.project {
	background-color: var(--layer-color);
	border: 2px solid var(--dark-color);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
}

.project-header > h2 {
	display: inline-block;
	margin: 0;
}

.project-header > p {
	display: inline-block;
	font-style: italic;
	margin: 0;
}

.project-tags {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding-left: 0;
	margin: 10px 0;
}

.tag {
	display: inline-block;
	background-color: var(--dark-color);
	padding: 5px;
	border-radius: 5px;
	margin-right: 5px;
}

.tag.language {
	background-color: var(--accent-color);
}

.project-bullets {
	margin: 10px 0;
}

.project-details {
	-moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
	overflow: hidden;
	height: 0;
}

.project-urls {
	list-style-type: none;
	padding-left: 10px;
	margin: 10px 0;
}

.project-urls a {
	font-style: italic;
	color: var(--light-color);
}

.project-urls a:visited {
	color: var(--dark-color);
}

.project-footer {
	border-top: 1px solid var(--bg-color);
	padding: 10px;
	cursor: pointer;
	margin: 0 -10px -10px -10px;
}

.project-footer > h3 {
	display: inline-block;
	margin: 0;
	margin-left: 10px;
}